@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: max(884px, 100dvh);
  font-family: 'Noto Sans KR', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1;
}
